body {
    background-color: black;
}

.slider {
    width: 95%;
    margin: auto; 
    overflow: hidden
}

.slider ul {    
    display: flex;
    padding: 0;   
    width: 500%; 
    animation: cambio 25s infinite;
    animation-direction: alternate;
}

.slider li {    
    width: 100%; 
    list-style: none;    
}

.slider img {
    background-color: black;
    width: 100%;      
}


@keyframes cambio {
    0% {margin-left: 0;}  
    16% {margin-left: 0;}
    21% {margin-left: -100%;}
    37% {margin-left: -100%;}
    42% {margin-left: -200%;}
    58% {margin-left: -200%;}    
    63% {margin-left: -300%;}
    79% {margin-left: -300%;}
    84% {margin-left: -400%;}
    100% {margin-left: -400%;}

}
    

@keyframes moveOut {
0% {
    margin-top: 0%;
    opacity: 1;
}
40% {          
    opacity: 0;
    }
50% {
    margin-top: -150%;    
    opacity: 0;
    }
100% {
    margin-top: -150%;   
    opacity: 0; 
    }
}

body2 {
    /* Ubicación de la imagen */    
    background-image: url(assets/images/buda1.png);
    
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */    
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */    
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */    
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */    
    background-color: black;    
    }

